/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    /* Lettertype */
    --paragraaf: 'interstate', 'Arial', 'Helvetica', sans-serif;
    --kopjes: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    --font-size-paragraaf: 1em;
    --font-size-kopje: 2em;

    /* Kleurpalette */
    --legend-kleur: #370152;
    --main-kleur: #df9ff9;
    --form-achtergrond-kleur: #e9d9ee;
    --achtergrond-kleur: white;

    --button-kleur: #370152;
    --tekst-kleur: #261e29;

    /* Form validatie */
    --valid-form-data-kleur: mediumseagreen;
    --invalid-form-data-kleur: lightsalmon;
    --radio-button-checked: #261e29;
    --input-kleur: #f6f6f6;
    --label-kleur: #261e29;
    --button-kleur-achtergrond: #370152;
    --button-kleur-tekst: #f6f6f6;
    --link-kleur: #261e29;
    --current-link: #e9d9ee;
    --niet-current-link: #f1e9f488;
    --button-andere-state-achtergrond: #df9ff9;
    --button-andere-state-tekst: #370152;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

    :root {

        /* Kleurpalette */
        --main-kleur: #df9ff9;
        --form-achtergrond-kleur: #592a6b;
        --achtergrond-kleur: #261e29;
        --button-kleur-tekst: #f6f6f6;
        --button-kleur: #370152;
        --tekst-kleur: rgb(246, 246, 246);
        --link-kleur: #261e29;
        --input-kleur: #ad84b877;
        --label-kleur: rgb(246, 246, 246);
        --radio-button-checked: #261e29;
        --placeholder-kleur: #100d12;
        --button-kleur-achtergrond: #df9ff9;
        --button-kleur-tekst: #261e29;
        --legend-kleur: #df9ff9;
        --current-link: #f1e9f4;
        --niet-current-link: #f1e9f488;
        --valid-form-data-kleur: rgb(106, 225, 160);
        --button-andere-state-achtergrond: #370152;
        --button-andere-state-tekst: #f6f6f6;
    }
}

/* Voor dark mode en voor desktop */
@media(prefers-color-scheme: dark) and (min-width: 40em) {
    :root {
        --niet-current-link: #df9ff991;
        --current-link: #df9ff9;
    }
}



br {
    display: none;
}

li {
    list-style: none;
}

body {
    background-color: var(--achtergrond-kleur);
    font-family: var(--paragraaf);
    font-weight: 400;
    margin: 1em;
}

body > p {
    text-align: center;
    padding: 1em;
}

legend {
    font-family: var(--kopjes);
    font-weight: bold;
    font-size: clamp(1em, 2vw, 2em);
    margin-bottom: 1em;
    color: var(--legend-kleur);
}

h1 {
    text-align: center;
    margin: 1em;
    padding: .5em;
}

h2 {
    color: var(--tekst-kleur);
}

h3 {
    padding-bottom: 1em;
}

/* Header */
header nav ol {
    display: flex;
}

fieldset {
    border: transparent;
}

/* Elke section  */
form>fieldset fieldset:first-of-type {

    border-bottom: 3px solid var(--form-achtergrond-kleur);
    padding-bottom: 1em;
}

button {
    font-size: 1em;
    cursor: pointer;
}

/**********/
/* HEADER */
/**********/
header a {
    text-decoration: none;
    color: var(--link-kleur);
    background-color: var(--niet-current-link);
    padding: .2em;
}

header a:hover,
header a:focus-within {
    outline: 0;
    border: 2px dashed var(--button-andere-state-tekst);
}

header a.current-page {
    background-color: var(--current-link);
}

ol {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

#show {
    appearance: none;
    opacity: 0;
    position: absolute;
    z-index: 2;
    right: 1em;
    top: 1em;
}

#menu {
    background-color: var(--achtergrond-kleur);
    color: var(--label-kleur);
    position: absolute;
    padding: .5em;
    z-index: 2;
    right: 1em;
    top: 1em;
}

body :has(input[type="checkbox"]:checked) nav {
    top: 0;
    left: 0;
}

body input[type="checkbox"]:checked~nav {
    top: 0;
    left: 0;
}

nav {
    z-index: 1;
    position: absolute;
    top: -100em;
    width: 100%;

    background-color: var(--main-kleur);
}

/********/
/* FORM */
/********/

/* Form */
main {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--form-achtergrond-kleur);
    padding: .5em;
}

form>fieldset {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 2em .5em;
    padding: 1em;
}

form section h2 {
    margin-bottom: .5em;
}

/***************/
/* FORM INPUTS */
/***************/
label {
    color: var(--label-kleur);
}

input {
    background-color: var(--input-kleur);
}

textarea {
    width: 100%;
    border: none;
    background-color: var(--input-kleur);
    padding: 1em;
    font-family: var(--paragraaf);
}

textarea::placeholder{
    font-family: var(--paragraaf);
    color: var(--tekst-kleur);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline-style: dashed;
    outline-color: var(--main-kleur);
    outline-width: 3px;    
}


input[type="text"] {
    padding: 1em;
}

/* Radio button */
input[type="radio"] {
    position: absolute;
    appearance: none;
    opacity: 0;
    /* left: -1000em; */

}

input::placeholder{
    color: var(--placeholder-kleur);
}


input:checked+span {
    display: inline-block;
    background-color: var(--main-kleur);
    color: var(--radio-button-checked);
}

/* Vraag 1 en 2 */
form>fieldset>fieldset:nth-of-type(1) label {
    display: inline-block;
}

form>fieldset>fieldset:nth-of-type(1) label:nth-of-type(2) {
    display: block;
}

form>fieldset>fieldset:nth-of-type(1) input {
    /* display: block; */
    text-align: center;
    width: 5em;
    margin-left: .8em;
    margin-bottom: 1em;
}

form>fieldset>fieldset:nth-of-type(1) input:nth-of-type(n +2)

/* Vraag 3, 4,5 */
form>fieldset>fieldset p:focus {
    outline: 2px dashed var(--main-kleur);
}

/* Alle radio buttons */
form>fieldset>fieldset:nth-of-type(n+2) ul {
    display: flex;
    background-color: var(--input-kleur);
    gap: .3em;
}

form>fieldset>fieldset:nth-of-type(n+2) ul li label {
    display: flex;
    align-items: center;
    justify-content: center;
}

form>fieldset>fieldset:nth-of-type(n+2) span {
    padding: .5em;
}


/* De vragen */
form>fieldset fieldset p,
form>fieldset>fieldset>label {
    margin-bottom: 1em;
}


form p {
    color: var(--tekst-kleur);
}

/*******************/
/* STUDENTGEGEVENS */
/*******************/
#studentgegevens fieldset {
    position: relative;
    gap: 1em;
}

label[for="voornaam"],
label[for="achternaam"],
label[for="studentennummer"],
label[for="email"] {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-weight: bold;
}


input[type="tel"],
input[type="email"] {
    padding: 1em;
}


#studentgegevens input {
    margin-top: 1em;
}


#studentgegevens span {
    font-weight: 400;
}
/******************/
/* FORM VALILDATE */
/******************/

/* Formulier Validatie */
input[type="text"]:valid,
input[type="email"]:valid {
    border: 1px solid var(--valid-form-data-kleur);
    border-bottom: 4px solid var(--valid-form-data-kleur);
}

input[type="email"]:invalid,
input[inputmode="numeric"]:invalid {
    border: 1px solid var(--invalid-form-data-kleur);
    border-bottom: 4px solid var(--invalid-form-data-kleur);
}

input:required {
    border: 1px solid var(--invalid-form-data-kleur);
    border-bottom: 4px solid var(--invalid-form-data-kleur);
}

/* Foutmeldingen voor de rest van de browser*/

#studentgegevens label:has(input[type="text"]:valid)::after {
    content: 'Lekker bezig';
    color: var(--valid-form-data-kleur);
    position: absolute;
    font-weight: bold;
    transform: translateY(2.8em);
    right: 5em;
}

#studentgegevens label:has(input[type="email"]:valid)::after {
    content: 'Lekker bezig';
    color: var(--valid-form-data-kleur);
    position: absolute;
    font-weight: bold;
    transform: translateY(2em);
    right: 5em;
}

/* Form validatie voor firefox */
/* Foutmeldingen */

#studentgegevens label input[type="text"]:valid+span::after {
    content: '\2713';
    color: var(--valid-form-data-kleur);
    position: absolute;
    font-weight: bold;
    transform: translateY(-2.3em);
    right: 3em;
}

#studentgegevens label input[type="text"]:invalid+span::after {
    content: 'Voer maar wat in. ';
    position: absolute;
    transform: translateY(.5em);
    font-size: 14px;
}

/* Voor de email */
#studentgegevens label input[type="email"]:valid+span::after {
    content: '\2713';
    color: var(--valid-form-data-kleur);
    position: absolute;
    font-weight: bold;
    transform: translateY(-2.3em);
    right: 3em;
}

#studentgegevens label input[type="email"]:invalid+span::after {
    content: 'Voer maar wat in. ';
    position: absolute;
    transform: translateY(.5em);
    font-size: 14px;
}

.valid-data {
    border: 1px solid var(--valid-form-data-kleur);
    border-bottom: 4px solid var(--valid-form-data-kleur);
}

textarea.valid-data::after {
    content: 'Wat een goeie mening zeg!';
    position: absolute;
    color: var(--tekst-kleur);
    transform: translateY(2em);
}

.results1,
.results2,
.results3 {
    margin-top: .5em;
}

/**********************/
/* FORMULIER BUTTONS  */
/**********************/
form>ul {
    display: flex;
    align-self: center;
}


/* Volgende Button */
button[type="submit"] {
    border: 2px solid var(--button-kleur-achtergrond);
    padding: 1em 1.5em;
    background-color: var(--button-kleur-achtergrond);
    color: var(--button-kleur-tekst);
    font-family: var(--font-size-paragraaf);
}

button:hover,
button:focus {
    outline-style: dashed;
    outline-width: 3px;
    outline-color: var(--main-kleur);
    border: 2px solid var(--button-andere-state-achtergrond);
    background-color: var(--button-andere-state-achtergrond);
    color: var(--button-andere-state-tekst);
}

/* Vorige button */
a.vorige-btn {

    display: inline-block;
    padding: 1em 1.5em;
    color: var(--tekst-kleur);
    border: 2px solid var(--button-kleur-achtergrond);
    background-color: var(--form-achtergrond-kleur);
    text-decoration: none;
}

a.vorige-btn:hover,
a.vorige-btn:focus {
    outline-style: dashed;
    outline-width: 3px;
    outline-color: var(--main-kleur);
    border: 2px solid var(--button-andere-state-achtergrond);
    color: var(--button-andere-state-tekst);
}

/*********************/
/* BEVESTIGINGPAGINA */
/*********************/
#bevestiging {
    height: 100vh;
    display: grid;
    place-items: center;
}

#bevestiging h1 {
    padding: 1em;
    margin: 0;
}

#bevestiging main {
    background-color: var(--form-achtergrond-kleur);
    padding: 1em;
}

#bevestiging p {
    text-align: center;
}

/******************/
/* RESPONSIVENESS */
/******************/

/* Voor princexml zet de main in min-width: 40em en de rest in 45em */
@media (min-width: 40em) {
       main {
        margin: 0 auto;
        width: 50%;
        max-width: 50rem;
    }


    header a {
        text-decoration: none;
        color: var(--link-kleur);
        background-color: var(--niet-current-link);
        /* padding: .2em; */
        padding: 1em;
    }

    header a.current-page {
        background-color: var(--current-link);
    }

    header nav ol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }

    #show {
        display: none;
    }

    #menu {
        display: none;
    }

    header nav {
        position: static;
        background-color: transparent;
    }



}